---
# tasks file for packages

######################################
### packages

- name: "Packages: Gather package facts"
  ansible.builtin.package_facts:
    manager: auto

- name: "Packages: Load variables file"
  ansible.builtin.include_vars: "vars/{{ ansible_os_family }}.yml"

- name: "Packages: Manage rpmfusion repository keys"
  become: true
  ansible.builtin.rpm_key:
    key: "{{ item }}"
    state: "{{ packages_rpmfusion_package_state }}"
  loop:
    - /usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-free-fedora-{{ ansible_distribution_version }}
    - /usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-nonfree-fedora-{{ ansible_distribution_version }}
  when:
    - packages_rpmfusion_package_state != 'skip'
    - ansible_os_family == "RedHat"

- name: "Packages: Manage rpmfusion repository"
  become: true
  ansible.builtin.package:
    name: "{{ packages_rpmfusion_package }}"
    state: "{{ packages_rpmfusion_package_state }}"
  when:
    - packages_rpmfusion_package_state != 'skip'
    - ansible_os_family == "RedHat"

- name: "Packages: Configure rpmfusion codecs"
  become: true
  ansible.builtin.shell: |
    dnf swap -y ffmpeg-free ffmpeg --allowerasing
    dnf group install multimedia --setopt="install_weak_deps=False" --exclude=PackageKit-gstreamer-plugin -y
  register: packages_rpmfusion_codecs
  changed_when: packages_rpmfusion_codecs.rc != 0
  when:
    - packages_rpmfusion_package_state != 'skip'
    - ansible_os_family == "RedHat"

- name: "Packages: Configure rpmfusion"
  become: true
  ansible.builtin.dnf:
    name:
      - "@core"
      - "@multimedia"
    update_only: true
    state: latest
  when:
    - packages_rpmfusion_package_state != 'skip'
    - ansible_os_family == "RedHat"

- name: "Packages: Configure rpmfusion codecs - amd"
  become: true
  ansible.builtin.shell: |
    dnf swap -y mesa-va-drivers mesa-va-drivers-freeworld
    dnf swap -y mesa-vdpau-drivers mesa-vdpau-drivers-freeworld
  register: packages_rpmfusion_codecs_amd
  changed_when: packages_rpmfusion_codecs_amd.rc != 0
  when:
    - packages_rpmfusion_package_state != 'skip'
    - ansible_os_family == "RedHat"

- name: "Packages: Configure rpmfusion codecs - intel"
  become: true
  ansible.builtin.package:
    name:
      - intel-media-driver
      - libva-intel-driver
    state: "{{ packages_rpmfusion_package_state }}"
  when:
    - packages_rpmfusion_package_state != 'skip'
    - ansible_os_family == "RedHat"

- name: "Packages: Manage Copr Repositories"
  become: true
  community.general.copr:
    host: copr.fedorainfracloud.org
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  loop: "{{ packages_copr_repos }}"
  when:
    - item.state != 'skip'
    - ansible_os_family == "RedHat"

- name: "Packages: Manage packages"
  become: true
  ansible.builtin.package:
    name: "{{ packages_package }}"
    state: "{{ packages_package_state }}"
  when:
    - packages_package_state != 'skip'

- name: "Packages: Manage additional packages"
  become: true
  ansible.builtin.package:
    name: "{{ packages_additional_package }}"
    state: "{{ packages_additional_package_state }}"
  when:
    - packages_package_state != 'skip'

- name: "Packages: Gather package facts"
  ansible.builtin.package_facts:
    manager: auto

- name: "Packages: Manage flatpak repository"
  become: true
  community.general.flatpak_remote:
    name: "{{ item.name }}"
    flatpakrepo_url: "{{ item.flatpakrepo_url }}"
    method: system
    state: "{{ item.state }}"
  loop: "{{ packages_flatpak_repos }}"
  when:
    - "'flatpak' in ansible_facts.packages"
    - item.state != 'skip'
  ignore_errors: true

- name: "Packages: Remove unwanted flatpak remotes"
  become: true
  community.general.flatpak_remote:
    name: "{{ item }}"
    method: system
    state: absent
  loop: "{{ packages_flatpak_repos_remove }}"
  when:
    - "'flatpak' in ansible_facts.packages"
    - packages_flatpak_repos_remove | length > 0

- name: "Packages: Manage flatpaks"
  become: true
  community.general.flatpak:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    remote: "{{ item.remote }}"
  loop: "{{ packages_flatpak_package }}"
  when:
    - "'flatpak' in ansible_facts.packages"
    - item.state != 'skip'

- name: "Packages: Manage python packages"
  become: true
  ansible.builtin.pip:
    name: "{{ packages_python_package }}"
    state: "{{ packages_python_package_state }}"
  when:
    - packages_python_package_state != 'skip'
