// calendarmenu

.calendarmenu-widget {
  @include window;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// button

.calendarmenu-button {
  background-color: $surfaceVariant;
  border-radius: 1rem;
  transition: 0.3s;
  padding: 3.25rem 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &:hover { background-color: mix($surfaceVariant, $onSurfaceVariant, 70%); }
}

.calendarmenu-button-text {
  font-size: 1.5rem;
}

// calendar

calendar {
  border-radius: 1rem;
  background-color: $surfaceVariant;
  padding: 1.5rem 1.5rem;
  font-size: 1.5rem;
  &:selected { background-color: mix($surfaceVariant, $onSurfaceVariant, 70%); }
  &:indeterminate { color: rgba(205, 219, 249, 0.3); }
}
