* {
    all: unset;
    font-weight: bold;
}

// widgets

@mixin widget {
    background-color: $surface;
    color: $onSurface;
    border-radius: 10px;
    font-size: 1.1rem;
}

.bar-widget {
    @include widget;
    border-radius: 0rem;
    padding: 5px;
}

.quicksettings-widget {
    @include widget;
}

.calendarmenu-widget {
    @include widget;
    padding: 30px;
}

.powermenu-widget {
    @include widget;
    padding: 30px;
}

// buttons

@mixin button {
    transition: 0.3s;
    &:hover {
        background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
    }
    background-color: $surfaceVariant;
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.1rem;
}

.generic-button {
    @include button;
}

.bar-button {
    @include button;
    background-color: $surface;
}

.slider-button {
    @include button;
    background-color: $surface;
}

.powermenu-button {
    @include button;
    padding: 10px;
    background-color: $surface;
}

.powermenu-button {
    @include button;
    padding: 50px;
    font-size: 5rem;
}

.workspace-button {
    @include button;
    &:hover {
        background-color: $surfaceVariant;
    }
}

calendar {
    @include button;
    background-color: $surfaceVariant;
    padding: 20px;
    font-size: 1.5rem;
    &:indeterminate {
        color: rgba(205, 219, 249, 0.3);
    }
    &:selected {
        background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
    }
}

// entry

@mixin entry {
    background-color: $surface;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.quicksettings-entry {
    @include entry;
}

.powermenu-entry {
    @include entry;
}

// slider

.slider scale trough highlight {
    &:hover {
        background-color: mix($surfaceVariant, $primary, 70%);
    }
    background-color: $primary;
    border-radius: 1rem;
}

.slider scale trough {
    background-color: $surfaceVariant;
    min-height: 15px;
    min-width: 150px;
    border-radius: 1rem;
}
