window {
  border: 3px solid #acc7ff;
  border-radius: 15px;
  background-color: rgba(27, 27, 30, 0.95);
  font-size: 18px;
}

#input {
  margin: 20px;
  background-color: transparent;
  font-weight: bold;
  color: #e4e2e6;
}

#img {
  margin-right: 20px;
  margin-left: 20px;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 20px;
}

#scroll {
  margin: 0px;
}

#text {
  color: #e4e2e6;
}

#entry {
  margin: 3px;
  border-radius: 15px;
  min-height: 40px;
  font-weight: bold;
}

#entry:selected {
  outline: none;
  background-color: rgba(106, 109, 118, 0.95);
}
