// Logfiles
local.file_match "log" {
  path_targets = [{"__path__" = "/var/logs/**/*.log"}]
}

loki.source.file "log" {
  targets    = local.file_match.log.targets
  forward_to = [loki.write.endpoint.receiver]
}

// Journal
loki.relabel "journal" {
  forward_to = []

  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }
}

loki.source.journal "journal" {
  relabel_rules = loki.relabel.journal.rules
  labels        = {component = "loki.source.journal"}
  forward_to    = [loki.write.endpoint.receiver]
}

// node_exporter
prometheus.exporter.unix "node" { }

prometheus.scrape "node" {
  targets         = prometheus.exporter.unix.node.targets
  forward_to      = [prometheus.remote_write.endpoint.receiver]
}

// grafana_agent
prometheus.exporter.agent "agent" { }

prometheus.scrape "agent" {
  targets    = prometheus.exporter.agent.agent.targets
  forward_to = [prometheus.remote_write.endpoint.receiver]
}

// Endpoints
loki.write "endpoint" {
  endpoint {
    url = "{{ monitoring_agent_config_remoteserver_loki }}"
  }
}

prometheus.remote_write "endpoint" {
  endpoint {
    url = "{{ monitoring_agent_config_remoteserver_prometheus }}"
  }
}
